.section {
    &__showroom {
        padding: 80px;
        overflow: hidden;

        @media only screen and (max-width: 1280px) {
            padding: 40px;
        }

        @media only screen and (max-width: 1024px) {
            padding: 20px 40px;
        }

        @media only screen and (max-width: 768px) {
            padding: 20px;
        }

        &-title {
            font-size: 1.75rem;
            margin-bottom: 80px;

            @media only screen and (max-width: 1024px) {
                margin-bottom: 40px;
            }
        }

        &-img {
            height: 690px;
            width: calc(100% + 80px);
            position: relative;
            left: -80px;
            margin-bottom: 70px;
            background-image: url(../img/showroom.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            @media only screen and (max-width: 1280px) {
                margin-bottom: 40px;
            }

            @media only screen and (max-width: 1024px) {
                height: 545px;
            }

            @media only screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        &-list {
            width: 80%;

            @media only screen and (max-width: 768px) {
                width: 100%;
                justify-content: space-between;
            }

            @media only screen and (max-width: 425px) {
                flex-direction: column;
            }
        }

        &-address {
            font-size: 1rem;
            max-width: 205px;

            @media only screen and (max-width: 1024px) {
                margin-bottom: 40px;
            }

            &:first-child {
                margin-right: 160px;

                @media only screen and (max-width: 1024px) {
                    margin-right: 60px;
                }

                @media only screen and (max-width: 768px) {
                    margin-right: 20px;
                }
            }
        }

        &-container {
            @media only screen and (max-width: 1024px) {
                align-items: flex-start;
            }

            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
        }

        &-btn {
            width: 201px;
            height: 70px;
            background-color: transparent;
            border-radius: 32px;
            padding: 5px;
            transition: .4s;

            @media only screen and (max-width: 768px) {
                display: flex;
                align-self: center;
            }

            &:hover {
                background-color: var(--color--beige);
            }

            &-img {
                width: 100%;
                height: auto;
            }
        }
    }
}