:root {
    --color--white: #ffffff;
    --color--beige: #b3a38a;
    --color--gray: #6d685c;
    --color--dark-gray: #6d6d6d;
    --color--olive: #2d2e06;
    --color--green: #44974b;
    --color--shadow: #40576d2e;
}
